.menuWrap {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 10px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	display: flex;
	justify-content: space-around;

	.link {
		font-size: 3.5rem;
		text-decoration: none;
		padding: 10px 0;
	}
}
